.posts-feed {

}

.posts-feed__list {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.posts-feed__empty-list, .posts-feed__loading-posts {
    color: #979797;
}

.posts-feed__error-loading {
    color: rgb(143, 64, 64);
}