.post {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border: 3px solid rgba(176, 176, 176, 0.319);
    background-color: rgba(169, 184, 197, 0.141);
}

.post__time {
    font-size: 25px;
    color: #0094ff;
}

.post__title {
    font-weight: 700;
    word-wrap: break-word;
}

.post__text {
    font-size: 25px;
    
}

.post__delete-post-button {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 50%;
    font-size: 20px;
    color: #fff;
    background-color: crimson;
    border: none;
}

.post__delete-post-button:hover {
    opacity: .7;
}